# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/
.nyc_output

# Next.js
.next/
out/
build/
dist/

# Production
/build

# Misc
.DS_Store
*.pem
.idea/
.vscode/
*.swp
*.swo
*~

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
lerna-debug.log*

# Local env files
.env
.env*.local
.env.production

# Vercel
.vercel

# Hardhat
cache/
artifacts/
typechain-types/

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Temporary files
tmp/
temp/
